<!-- About Section -->
    <section id="challenge">
        <div class="container">
            <div class="row">
                    <h2 class="section-heading text-center">Funcionamiento</h2>
            <div class="container">
             <div class="col-12 text-left">
                <h2 class="text-primary">Diseño</h2>
                 <div class="row text-justify">
                     <p class="text-muted">Todo el código esta contenido dentro de un script de Python, sin embago dentro del mismo se establece conexión con el interprete SWI-PROLOG,
                    para poder realizar consultas a nuestra base de conocimiento que esta en un arhchivo con extensión ".pl", y que nos permitio utilizar las ventajas de crear relaciones 
                    lógicas con nuestra información. En la base de conocimiento se aloja predicados con los cuales
                    se establecen relaciones de los tipos de uva existentes, dentro de cada clase de vino considerada en la construcción del sistema; añadido a ello se estblece la realción 
                    de una descripción sobre las caracteristicas generales de cada tipo de uva que se despliegan al momento de que es seleccionado dicho tipo de uva como recomendación; 
                    ademas se cuenta con un predicado que relaciona una variedad de tipos de comida, y los maridajes que cada tipo de vino;los mismo pasa para los aromas que de desprenden 
                    en la mayoria de la uvas respecto a su tipo de vino, y un pridicado para realcionar los sabores que acompañan; añadido a ello se mantiene una categoria que clsifica los 
                    tipos de vino de acuerdo a la ocasión que el mismo ha de consumirse. Para hacer recomendaciones directas de compra para ofrecer al usuario, se tiene un predicado en el que se 
                    se relacionan los tipos de uva con enlaces de compra disposibles con diferentes opciones de presupuesto. Posterior a ello se tiene establecidad una relgas que relacionan los 
                    tipos de vino a diferentes niveles de elección, lo cual nos ayuda a filtrar la opciones de elección de variables conforme se avanza en la toma de decisiones, ello para asegurar 
                    el converger a una respuesta, y poder brindar en todo momento una buena reomendación.  </p>

                    <p class="text-muted">Por su parte el script de Python contiene las librerias necesarias que nos ayudan a realizar 
                    la conexión con el interprete de PROLOG, para realizar las consultas necesarias, ademas de librerias para poder hacer el reconocimiento de vez, procesar imágenes, construir la interfaz 
                    de usuario, mandar a links de compra, y procesamiento y formato de información. Además se construyeron funciones para poder procesar la información en que la entregan las consultas a 
                    prolog y poder en su caso, procesarla, o mostrarla al usuario en la interfaz creada; se construyeron funciones para poder dar también formato a la infomación recibida del usaurio de forma, 
                    tanto oral como escrita y que debe ser ocupada para realizar consultas en PROLOG. Se escribieron también cunfiones para realizar la interfaz de usuario, con el manejo de mas de una ventana, 
                    así como botones personalizados y dinámicos, y se construyeron funciones para un adecuado y organizado despliesge de imagenes e información, con el fin de orientar al usuario a través de su 
                    interacción con el sistema experto, y el proceso a seguir.</p>
              </div>
            </div>
  

            <div class="row text-left pt-5">
         <!--     <div class="col-12 col-sm-6 col-md-5"> -->
              <div class="row text-justify">
                <!--<img alt="image" class="fdb-icon" src="./imgs/icons/layers.svg"> -->
                <h3><strong>Ejecutable</strong></h3>
                <p class="text-justify">De acuerdo a las experiencias y resultados obtenido en diversos proyectos previos, nos parece que uno de los aspectos fundamentales, para
                  que el sistema que se esta desarrollando pueda ser viables, y con apertura de acceso a mas variedad de usuarios, es impresindible crear el sistema pensando en 
                  la facilidad tanto de uso cotidiano como de adquisición. Es por ello, que decidimos, de igual fomra con ayuda de una libreria de Python, convertir nuestro código
                  en un compendio de archivos, que permiten tener un ejecutable, lo cual libera al usuario final de tener que estar haciendo descargas e instalaciones adicionales, o
                  tener que estar ejecutando el sistema, desde interpetes, o lineas de comandos, de un determinado lenguaje o sistema.</p>
                  
                  <p class="text-justify">Para poder ejecutarlo, se debe descargar el conjunto de archivos para que trabaje el ejecutable en 
                  <a href="https://github.com/NM-Labs/WineBot/WineBot Code" title="Horesh">Descargar - WineBot Ejecutable</a>, una vez que se ha descargado, la carpeta debe ser descompresa
                  y se tendra una carpeta llamada AutoWineBot, y dentro de ella se encontraran mas carpetas y archivos, ahí debes localizar el archivo llamado "AutoWineBot.exe", das doble clic 
                  rápido sobre el mismo, y con ello se debera desplegar la ventana del sistema (la primera vez puede tardar un poco). Con ello tendrás ya a tu disposición toda la funcionalidad
                  de WineBot: Experto en Vinos!
              </div>
            </div>
                <div class="row text-justify">
                <!--<img alt="image" class="fdb-icon" src="./imgs/icons/layers.svg"> -->
                <h3><strong>Conclusiones</strong></h3>
                <p class="text-justify">Conforme a lo esperado en el proyecto, y a lo mostrado en los alcances que se tuvieron en el desarrollo del mismo, se puede concluir, que se han alcanzado los
                   objetivos planteados para ello, tanto de forma general, llevando a cabo la construcción de un sistema experto, que diese como resultado, el desarrollo de una idea que plantea una 
                    herramienta perfectamente utilizable en una situación real, considerando información verídica, para actividades de usao recreativo; donde el sistema refleja cierto grado de expertiz 
                    en la materia. Además se logro el objetivo, de que el sistema tuviera una interfaz de usaario eficiente, y adecuada, lo cual mejora mucho la experiencia que brinda el suo del sistema 
                    experto, añadiendo el plus, de que se llevo a una versión ejecutable que mejora en mucho la facilidad adquisición y puesta en marcha, abiendo la oportunidad real de uso a una gama mas 
                    amplia de tipos de usuario. A nivel particular se consiguio una representación gráfica agradable en terminos de presentación, sin dejar de lado la claridad y precisión del estado del 
                    sistema, pero conservando aun un manejo facil, y sin complicciones para el usaurio, ofreciendo mas de un método de brindar indicaciones al sistema, y ofreciendo una amplia variedad de opciones.
                    Todo bajo lo estipulado en la literatura orientada al tema.
                    </p>
  
              </div>
              <div class="row text-justify">
           <!--   <div class="col-12 col-sm-6 col-md-5 ml-sm-auto pt-5 pt-sm-0"> -->
                <!--<img alt="image" class="fdb-icon" src="./imgs/icons/package.svg">-->
                <h3><strong>Artículos y Referencias del Trabajo</strong></h3>
                <p class="text-justify text-muted">Una vez que se obtuvo la idea concreta sobre hacia donde dirigir el proyecto, se realizo una extesa busqueda de información, 
                    que nos ayudo a refinar nuestras ideas, ademas el realizar estas lecturas nos ayudo a plantear metas alcanzables dadas las condiciones
                    de tiempo y de trabajo a distancia. Durante el desarrollo del sistema experto se tomaron herramientas en información acerca de como desarrollar el proyecto, 
                    tanto a nivel técnico: las herramientas de programación a utilizar, como a nivel teorico: como categorizar, y selccionar las variables a la hora de elegir
                    un vino. Algunas de las referencias que nos ayudaron son:</p>
                  <ul>
                      <li> Programación
                        <ul>
                            <li>Documentación de <a href="https://pysimplegui.readthedocs.io/en/latest/" title="Ref1">PySimpleGui</a></li>
                            <li>Galea, S., Tracy, M., Norris, F., & Coffey, S. F. (2008). Financial and social circumstances and the incidence and course of PTSD in 
                                Mississippi during the first two years after Hurricane Katrina. 
                                 Journal of Traumatic Stress, 21, 357–368. 
                                    <a href="https://doi.org/10.1002/jts.20355" title="Ref2">https://doi.org/10.1002/jts.20355</a></li>
                        </ul>
                      <li> Acerca de Vinos
                          <ul>
                            <li>Documentación de <a href="https://pysimplegui.readthedocs.io/en/latest/" title="Ref1">PySimpleGui</a></li>
                            <li>Galea, S., Tracy, M., Norris, F., & Coffey, S. F. (2008). Financial and social circumstances and the incidence and course of PTSD in 
                                Mississippi during the first two years after Hurricane Katrina. 
                                 Journal of Traumatic Stress, 21, 357–368. 
                                    <a href="https://doi.org/10.1002/jts.20355" title="Ref2">https://doi.org/10.1002/jts.20355</a></li>
                        </ul>
                  
                  </ul>
              </div>
           
          </div>
        </div>
    </section>
