<!-- About Section -->
    <section id="challenge">
        <div class="container">
            <div class="row">
                    <h2 class="section-heading text-center">Funcionamiento</h2>
            <div class="container">
             <div class="col-12 text-left">
                <h2 class="text-primary">Diseño</h2>
                 <div class="row text-justify">
                     <p class="text-muted">Todo el código esta contenido dentro de un script de Python, sin embago dentro del mismo se establece conexión con el interprete SWI-PROLOG,
                    para poder realizar consultas a nuestra base de conocimiento que esta en un arhchivo con extensión ".pl", y que nos permitio utilizar las ventajas de crear relaciones 
                    lógicas con nuestra información. En la base de conocimiento se aloja predicados con los cuales
                    se establecen relaciones de los tipos de uva existentes, dentro de cada clase de vino considerada en la construcción del sistema; añadido a ello se estblece la realción 
                    de una descripción sobre las caracteristicas generales de cada tipo de uva que se despliegan al momento de que es seleccionado dicho tipo de uva como recomendación; 
                    ademas se cuenta con un predicado que relaciona una variedad de tipos de comida, y los maridajes que cada tipo de vino;los mismo pasa para los aromas que de desprenden 
                    en la mayoria de la uvas respecto a su tipo de vino, y un pridicado para realcionar los sabores que acompañan; añadido a ello se mantiene una categoria que clsifica los 
                    tipos de vino de acuerdo a la ocasión que el mismo ha de consumirse. Para hacer recomendaciones directas de compra para ofrecer al usuario, se tiene un predicado en el que se 
                    se relacionan los tipos de uva con enlaces de compra disposibles con diferentes opciones de presupuesto. Posterior a ello se tiene establecidad una relgas que relacionan los 
                    tipos de vino a diferentes niveles de elección, lo cual nos ayuda a filtrar la opciones de elección de variables conforme se avanza en la toma de decisiones, ello para asegurar 
                    el converger a una respuesta, y poder brindar en todo momento una buena reomendación.  </p>

                    <p class="text-muted">Por su parte el script de Python contiene las librerias necesarias que nos ayudan a realizar 
                    la conexión con el interprete de PROLOG, para realizar las consultas necesarias, ademas de librerias para poder hacer el reconocimiento de vez, procesar imágenes, construir la interfaz 
                    de usuario, mandar a links de compra, y procesamiento y formato de información. Además se construyeron funciones para poder procesar la información en que la entregan las consultas a 
                    prolog y poder en su caso, procesarla, o mostrarla al usuario en la interfaz creada; se construyeron funciones para poder dar también formato a la infomación recibida del usaurio de forma, 
                    tanto oral como escrita y que debe ser ocupada para realizar consultas en PROLOG. Se escribieron también cunfiones para realizar la interfaz de usuario, con el manejo de mas de una ventana, 
                    así como botones personalizados y dinámicos, y se construyeron funciones para un adecuado y organizado despliesge de imagenes e información, con el fin de orientar al usuario a través de su 
                    interacción con el sistema experto, y el proceso a seguir.</p>
              </div>
            </div>
  

            <div class="row text-left pt-5">
         <!--     <div class="col-12 col-sm-6 col-md-5"> -->
              <div class="row text-justify">
                <!--<img alt="image" class="fdb-icon" src="./imgs/icons/layers.svg"> -->
                <h3><strong>Ejecutable</strong></h3>
                <p class="text-justify">De acuerdo a las experiencias y resultados obtenido en diversos proyectos previos, nos parece que uno de los aspectos fundamentales, para
                  que el sistema que se esta desarrollando pueda ser viables, y con apertura de acceso a mas variedad de usuarios, es impresindible crear el sistema pensando en 
                  la facilidad tanto de uso cotidiano como de adquisición. Es por ello, que decidimos, de igual fomra con ayuda de una libreria de Python, convertir nuestro código
                  en un compendio de archivos, que permiten tener un ejecutable, lo cual libera al usuario final de tener que estar haciendo descargas e instalaciones adicionales, o
                  tener que estar ejecutando el sistema, desde interpetes, o lineas de comandos, de un determinado lenguaje o sistema.</p>
                  
                  <p class="text-justify">Para poder ejecutarlo, se debe descargar el conjunto de archivos para que trabaje el ejecutable en 
                  <a href="https://github.com/NM-Labs/WineBot/WineBot Code" title="Horesh">Descargar - WineBot Ejecutable</a>, una vez que se ha descargado, la carpeta debe ser descompresa
                  y se tendra una carpeta llamada AutoWineBot, y dentro de ella se encontraran mas carpetas y archivos, ahí debes localizar el archivo llamado "AutoWineBot.exe", das doble clic 
                  rápido sobre el mismo, y con ello se debera desplegar la ventana del sistema (la primera vez puede tardar un poco). Con ello tendrás ya a tu disposición toda la funcionalidad
                  de WineBot: Experto en Vinos!
              </div>
            </div>
                <div class="row text-justify">
                <!--<img alt="image" class="fdb-icon" src="./imgs/icons/layers.svg"> -->
                <h3><strong>Conclusiones</strong></h3>
                <p class="text-justify">Para que nuestro chatbot pueda dar una amplia gama de información, se utilizaron bases de datos disponibles para el uso del publico
                    en geneneral, las bases de datos en su forma original contenian algunas inconsistencias en ciertos datos, por lo cual fueron depuradas, ademas en el 
                    intento de ofrecer intormación apartir de cierto estandar y gracias a que las bases de datos contenian categorias de calificación de contenido provista 
                    por los usuarios, se establecieron umbrales de calidad, para fortalecer que el contenido sea de respuesta positiva por muchos usuarios.</p>
  
              </div>
              <div class="row text-justify">
           <!--   <div class="col-12 col-sm-6 col-md-5 ml-sm-auto pt-5 pt-sm-0"> -->
                <!--<img alt="image" class="fdb-icon" src="./imgs/icons/package.svg">-->
                <h3><strong>Artículos</strong></h3>
                <p class="text-justify text-muted">Una vez que se obtuvo la idea concreta sobre hacia donde dirigir el proyecto, se realizo una corta busqueda de información, 
                    que nos ayudo a refinar nuestras hipotesis, ademas el realizar estas lecturas nos ayudo a plantear metas alcanzables dadas las condiciones
                    de tiempo y de trabajo a distancia. Durante el desarrollo del chatbot se tomaron ideas basadas en las problematicas presentadas en las lecturas 
                    de referencia. Algunas de las referencias que nos ayudaron son:</p>
                  <ul>
                   <li>Horesh, D., & Brown, A. D. (2020). Traumatic stress in the age of COVID-19: A call to close critical gaps and adapt to new realities. 
                       Psychological Trauma: Theory, Research, Practice, and Policy, 12(4), 331-335
                       <a href="http://dx.doi.org/10.1037/tra0000592" title="Ref1">http://dx.doi.org/10.1037/tra0000592</a></li>
                   <li>Galea, S., Tracy, M., Norris, F., & Coffey, S. F. (2008). Financial and social circumstances and the incidence and course of PTSD in 
                       Mississippi during the first two years after Hurricane Katrina. 
                       Journal of Traumatic Stress, 21, 357–368. 
                       <a href="https://doi.org/10.1002/jts.20355" title="Ref2">https://doi.org/10.1002/jts.20355</a></li>
                   <li>Asmundson, G. J. G., Paluszek, M. M., Landry, C. A., Rachor, G. S., McKay, D., & Taylor, S. (2020). Do Pre-existing Anxiety-Related and 
                       Mood Disorders Differentially Impact COVID-19 Stress Responses and Coping? Journal of Anxiety Disorders, 102271.
                       <a href="https://research.google.com/youtube8m/" title="Ref3">Vocabulary DataSet</a></li>
                   <li>Qiu, J., Shen, B., Zhao, M., Wang, Z., Xie, B., & Xu, Y. (2020). A nationwide survey of psychological distress among Chinese people in the 
                       COVID-19 epidemic: implications and policy recommendations. General psychiatry, 33(2), e100213. 
                       <a href="https://doi.org/10.1136/gpsych-2020-100213" title="Ref3">https://doi.org/10.1136/gpsych-2020-100213</a></li>
                   <li>Taylor, S., Landry, C., Paluszek, M., Fergus, T. A., McKay, D., & Asmundson, G. J. (2020). Development and initial validation of the COVID Stress Scales.
                       Journal of Anxiety Disorders, 102232.</li>  
                   <li>Wang C, Pan R, Wan X, Tan Y, Xu L, Ho CS, et al. Immediate psychological responses and associated factors during the initial stage of the 2019 coronavirus 
                       disease (COVID-19) epidemic among the general population in China. Int J Environ Res Public Health 2020; 17:17-29.</li>  
                  </ul>
              </div>
           
          </div>
        </div>
    </section>
