<!-- Clients Aside -->
<aside class="clients" id="enlaces">
    <div class="container">
        <div class="row">
            <div class=""col-sm-3"">
                <a href="#">
                    <img src="img/logos/UNAM.png" width="100px" class="img-responsive img-right" alt="">
                </a>
            </div>
        </div>
        <div class="row">
             <div class=""col-sm-3"">
                  <a href="#">
                     <img src="img/logos/python.png" width="100px" class="img-responsive img-center" alt="">
                </a>
            </div>
        </div>
        <div class="row">
            <div class=""col-sm-3"">
                  <a href="#">
                     <img src="img/logos/swi-prolog.svg" width="100px" class="img-responsive img-center" alt="">
                </a>
            </div>
        </div>
    </div>
</aside>
<section class="fdb-block team-6">
  <div class="container">
    <div class="row text-center mt-5">
      <div class="col-4">
        <img alt="image" class="img-fluid rounded" src="img/logos/UNAM.png" width="50px">
      </div>

      <div class="col-4">
        <img alt="image" class="img-fluid rounded" src="img/logos/python.png" width="50px">
      </div>

      <div class="col-4">
        <img alt="image" class="img-fluid rounded" src="img/logos/swi-prolog.svg" width="50px">
      </div>
    </div>
  </div>
</section>
