<!-- Clients Aside -->
<aside class="clients" id="enlaces">
    <div class="container">
        <div class="row">
            <div class=""col-sm-3"">
                <a href="#">
                    <img src="img/logos/UNAM.png"  class="img-responsive img-right" alt="">
                </a>
            </div>
        </div>
        <div class="row">
             <div class=""col-sm-3"">
                  <a href="#">
                     <img src="img/logos/python.png" width="100px" class="img-responsive img-center" alt="">
                </a>
            </div>
        </div>
        <div class="row">
            <div class=""col-sm-3"">
                  <a href="#">
                     <img src="img/logos/swi-prolog.svg" width="100px" class="img-responsive img-center" alt="">
                </a>
            </div>
        </div>
    </div>
</aside>
<section class="fdb-block team-6">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-8">
        <h1>Team</h1>
      </div>
    </div>

    <div class="row text-center mt-5">
      <div class="col-4">
        <img alt="image" class="img-fluid rounded" src="img/logos/UNAM.png" width="50px">
        <h3><strong>John Smith</strong></h3>
        <p>Position</p>
        <p>Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
      </div>

      <div class="col-4">
        <img alt="image" class="img-fluid rounded" src="img/logos/python.png" width="50px">
        <h3><strong>John Smith</strong></h3>
        <p>Position</p>
        <p>One morning, when Gregor Samsa woke from troubled dreams.</p>
      </div>

      <div class="col-4">
        <img alt="image" class="img-fluid rounded" src="img/logos/swi-prolog.svg" width="50px">
        <h3><strong>John Smith</strong></h3>
        <p>Position</p>
        <p>A small river named Duden flows by their place and supplies it.</p>
      </div>
    </div>
  </div>
</section>
