<section id="descrip">
<div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Descripción</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-justify">
                     <p class="text-muted">En este proyecto se realiza la construcción de un sistema experto capaz de dar recomendaciones
                                 acerca de vinos tomando en cuenta la ocasión para la que se va a utilizar, con que tipo de comida se planea 
                                 acompañar y los gustos del usuario. Esto mediante una comunicación en lenguaje español de forma natural teniendo 
                                 la posibilidad de interactuar mediante medios visuales con entrada de información escrita, así como interactuar 
                                 de forma hablada emitiendo una única orden completa. Realizando así una implementación utilizando el lenguaje 
                                 python y prolog, pudiendo ejecutarse en cualquier computadora windows sin necesidad de instalar nada. Es posible 
                                 obtener el código total del proyecto en: <a href="https://github.com/NM-Labs/WineBot" title="Horesh">GitHub - WineBot</a>. 
                                 Y el ejecutable en: <a href="https://github.com/NM-Labs/WineBot" title="Horesh">Descargar - WineBot</a>.

            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-subheading">Objetivos</h2>
                </div>
            <div class="row text-left">
              <div class="col-12 col-md-8 m-auto col-lg-4">
                <div class="fdb-box fdb-touch">
                  <h3 class= "text-primary">1. Relajante</h3>
                  <p>Mejorar el estado anímico/ presión de los ciudadanos en cuarentena por la pandemia de COVID19, y los ayude a relajarse.</p>
                  <img src="/WineBot Code/ImgV/moscatel.png" class="img-responsive img-circle" alt="">
                </div>
              </div>
              <div class="col-12 col-md-8 m-auto col-lg-4 pt-5 pt-lg-0">
                <div class="fdb-box fdb-touch">
                  <h3 class= "text-primary">2. Entretenido</h3>
                  <p>Brindar un ChatBot que recomiende gran variedad de opciones de entretenimiento, cosultando varias based de datos.</p>
                  <img src="/WineBot Code/ImgV/sherry.png" class="img-responsive img-circle" alt="">
                </div>
              </div>
              <div class="col-12 col-md-8 m-auto col-lg-4 pt-5 pt-lg-0">
                <div class="fdb-box fdb-touch">
                  <h3 class= "text-primary">3. Útil</h3>
                  <p>Poder obtener información de diversos temas a través de el uso de este chatbot.</p>
                  <img src="/WineBot Code/ImgV/champagne.png" class="img-responsive img-circle" alt="">
                </div>
              </div>
            </div>
          </div>
 </section>
