<section id="descrip">
<div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Descripción</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-justify">
                     <p class="text-muted">En este proyecto se realiza la construcción de un sistema experto capaz de dar recomendaciones
                                 acerca de vinos tomando en cuenta la ocasión para la que se va a utilizar, con que tipo de comida se planea 
                                 acompañar y los gustos del usuario en cuanto a gustos y sabores. Sin embargo, WineBot también puede reecivir 
                                 instrucciones directas acerca de algún tipo de vino en específico. Esto mediante una comunicación en lenguaje 
                                 español de forma natural teniendo la posibilidad de interactuar mediante medios visuales con entrada de información escrita, 
                                 así como interactuar de forma hablada emitiendo una única orden completa. 
                                 El sistema experto WineBot puede ser un gran aliado para adentrarte y empezar a conocer en torno a tus preferencias a la hora 
                                 de elegir un vino, pero si ya tienes experiencia en el área, con WineBot podrás consultar facilemnte nuevos tipos de vino.
                                 Realizando así una implementación utilizando 
                                 el lenguaje python el cual nos ayuda a crear la interfaz de usuario en la que se procura mantener un despliegue de información 
                                 claro para poder guiar correctamente a través del camino hacia la mejor recomendación. También se hizo uso de prolog, que nos permite contener 
                                 la información y establecer las relaciones necesarias para optimizar el proceso de búsqueda conforme a lo indicado por el usuario. 
                                 Todo ello se conjunto para poder brindar una versión ejecutable capaz de ejecutarse en cualquier computadora con sistema operativo
                                 windows actualizado sin necesidad de hacer una instalación mayor o ejecutar a través de un interprete. Es posible 
                                 obtener el código total del proyecto en: <a href="https://github.com/NM-Labs/WineBot" title="Horesh">GitHub - WineBot</a>. 
                                 Y el ejecutable en: <a href="https://github.com/NM-Labs/WineBot" title="Horesh">Descargar - WineBot</a>.

            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-subheading">Objetivos</h2>
                </div>
            <div class="row text-left">
              <div class="col-12 col-md-8 m-auto col-lg-4">
                <div class="fdb-box fdb-touch">
                  <h3 class= "text-primary">1. Consulta amigable</h3>
                  <p>Construir un sistema experto con tiempos cortos de ejecución y sin requerimientos de instalación rigurosos, además de indicaciones claras y precisas 
                            sobre la información necesaria para que el sistema pueda hacer una buena recomendación</p>
                  <img src="/WineBot Code/ImgV/moscatel.png" class="img-responsive img-circle" alt="">
                </div>
              </div>
              <div class="col-12 col-md-8 m-auto col-lg-4 pt-5 pt-lg-0">
                <div class="fdb-box fdb-touch">
                  <h3 class= "text-primary">2. Variedad de opciones</h3>
                  <p>Tener la capacidad de capturar las preferencias necesarias que permitan tener como resultado una recomendación efectiva y de agrado para el usuario sin 
                            tener necesidad de que el usuario requiera ingresar una cantidad de información excesiva. manteniendo en cada una de las variable tomadas en 
                            cuenta una gran variedad de ociones tratande de cubrir los gustos y contextos de la mayoría de los usuarios. Brindando más de una forma de 
                            interacción con el sistema.</p>
                  <img src="/WineBot Code/ImgV/sherry.png" class="img-responsive img-circle" alt="">
                </div>
              </div>
              <div class="col-12 col-md-8 m-auto col-lg-4 pt-5 pt-lg-0">
                <div class="fdb-box fdb-touch">
                  <h3 class= "text-primary">3. De 0 al punto de compra</h3>
                  <p>Mediante cualquiera de los métodos de funcionamiento, es decir, oral o escrito, tener la capacidad de captar la información relevante brindada por 
                              el usuario para poder recomendar nueve opciones de compra provenientes de tres tipos de uva que integran una clase de vino, spre-seleccionadas 
                              con rigurosidad y tomando en cuenta el conocimiento registrado teoricamente.</p>
                  <img src="/WineBot Code/ImgV/champagne.png" class="img-responsive img-circle" alt="">
                </div>
              </div>
            </div>
          </div>
 </section>
