<!-- Portfolio Grid Section -->
    <section id="codigo" class="bg-light-gray">
        <div class="container">
            <div class="row">
                    <h2 class="section-heading text-center">¿Qué es un sistema experto?</h2>
                <div class="text-justify text-muted">
                    <p class="text-justify">Buscando una definición general y resumida podemos establecer que un sistema experto es un campo de la inteligencia
                        artificial que pretende simular el comportamiento y el juicio de un ser humano junto con conocimientos expertos de un tema. 
                        Adquiere conocimientos relevantes de su base de conocimientos y los interpreta según el problema del usuario. Los datos en la base 
                        de conocimiento son esencialmente agregados por humanos que son expertos en un dominio particular. Sin embargo, los no expertos 
                        utilizan el software para obtener información. Se utiliza en diversas áreas de diagnóstico médico, contabilidad, codificación, 
                        juegos y más.  Inicialmente fueron introducidos por investigadores de la Universidad de Stanford y fue desarrollado para resolver
                        problemas complejos en un dominio particular. </p>
                        
                        <br><br>
                        
                     <h4 class="text-primary">Arquitectura de sistemas expertos</h4>
                        
                        <ul>
                            <li> <a class="text-primary"> Base de conocimientos:</a> la base de conocimientos en un sistema experto representa hechos y reglas. 
                                Contiene conocimientos en dominios específicos junto con reglas para resolver problemas y formar procedimientos que son relevantes 
                                para el dominio.</li>
                       <li><a class="text-primary"> Máquina de inferencia:</a> La función más básica del motor de inferencia es adquirir datos relevantes de la 
                           base de conocimientos, interpretarlos y encontrar una solución según el problema del usuario. Los motores de inferencia también tienen 
                           capacidades explicativas y de depuración.</li>
                       <li><a class="text-primary"> Módulo de adquisición de conocimientos y aprendizaje:</a> este componente funciona para permitir a los sistemas 
                           expertos adquirir más datos de diversas fuentes y almacenarlos en la base de conocimientos.</li>
                       <li><a class="text-primary"> Interfaz de usuario:</a> este componente es esencial para que un usuario no experto interactúe con el sistema 
                           experto y encuentre soluciones.</li>  
                       <li><a class="text-primary"> Módulo de explicación:</a> como sugiere el nombre, este módulo ayuda a proporcionar al usuario una explicación
                           de la conclusión alcanzada.</li>
                      </ul>
                        <br>
                    
                    <h4 class="large text-primary">Estrategias utilizadas por el motor de inferencia</h4>
                        
                      <div class="row text-left">
                          <div class="col-12 col-md-6 m-auto">
                            <div class="text-justify">
                              <h6 class= "text-primary">Encadenamiento hacia adelante</h6>
                              <p>Siguiendo una cadena de condiciones y derivaciones, el sistema experto deduce el resultado después de considerar todos los hechos y 
                                  reglas. Luego, los clasifica antes de llegar a una conclusión en términos de la solución adecuada.</p>
                              <div align="center">
                                <img align="center" src="https://www.isaca.org/-/media/images/isacadp/project/isaca/articles/journal/2018/volume-1/18v1-applying-ai-spanish-7.jpg" height="250px" class="img-responsive" alt="">
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-md-6 m-auto">
                            <div class="text-justify">
                              <h6 class= "text-primary">Encadenamiento hacia atrás</h6>
                              <p>Dependiendo de lo que ya haya ocurrido, el motor de inferencia intenta identificar las condiciones que podrían haber ocurrido en el 
                                  pasado para activar el resultado final. Esta estrategia se usa para encontrar la causa o la razón detrás de algo que sucede. </p>
                              <div align="center">
                                <img align="center" src="https://www.isaca.org/-/media/images/isacadp/project/isaca/articles/journal/2018/volume-1/18v1-applying-ai-spanish-10.jpg" height="250px" class="img-responsive" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                    
                    <br>
                    
                    <h4 class="large text-primary">Pasos para desarrollar un sistema experto</h4>

                      <p class="text-justify"> </p>
                    <br>
                    
                    <div align="center">
                    <img src="img/info-sistemas-expertos.png" width="1000px" class="img-responsive" alt="">
                    </div>
                    
                    <h4 class="large text-primary">Ejemplos de sistemas expertos</h4>
                    <br>
                    <ul>
                    <li> <a class="text-primary"> MYCIN:</a> Este fue uno de los primeros sistemas expertos que se basaba en el encadenamiento hacia atrás. Tiene la capacidad de identificar varias bacterias que causan infecciones graves. También es capaz de recomendar medicamentos en función del peso de una persona.
                    </li>
                   <li><a class="text-primary"> DENDRAL:</a> Este era un sistema experto basado en inteligencia artificial que se utiliza esencialmente para análisis químicos. Utiliza los datos espectrográficos de una sustancia para predecir su estructura molecular.
                    </li>
                   <li><a class="text-primary"> R1 / XCON:</a> Este tenía la capacidad de seleccionar software específico para generar un sistema informático según las preferencias del usuario.
                    </li>
                   <li><a class="text-primary"> PXDES:</a> ste sistema podría determinar fácilmente el tipo y el grado de cáncer de pulmón en pacientes basándose en datos limitados.
                    </li>  
                   <li><a class="text-primary"> CaDet:</a> este es un sistema de apoyo clínico que identifica el cáncer en etapas tempranas.</li>
                   <li><a class="text-primary"> CaDet:</a> cEste es también un sistema de apoyo clínico que es capaz de sugerir una variedad de enfermedades basándose solo en los hallazgos del médico.
                </li>
                  </ul>
               </div>
            </div>
         </div>    
    </section>
