<!-- Services Section -->
<section id="chatbot" class="bg-light-gray">
     <div class="row justify-content-center pb-5">
              <div class="col-12 text-center">
                  <br> <br> 
                <h1 class = "text-primary">Características</h1>
              </div>
            </div>

            <div class="row text-left align-items-center pt-5 pb-md-5">
              <div class="col-7 col-md-8">
                <img alt="image" class="img-fluid" src="img/WineBot.svg" width="30%">
              </div>

              <div class="col-12 col-md-5 m-md-auto">
                <h2><strong>Recomendaciones</strong></h2>
                <p class="lead text-muted">El chatbot al interactuar contigo preguntará por tus gustos en musica o videos y en base a alguna categoría escogida puede 
                                          hacer referencia a una canción o un video en YouTube. También te recomienda libros en base a que tanto deseas leer.</p>
               <!-- <p><a href="https://www.froala.com">Learn More <i class="fas fa-angle-right"></i></a></p> -->
              </div>
            </div>

            <div class="row text-left align-items-center pt-5 pb-md-5">
              <div class="col-4 col-md-5 m-md-auto order-md-5">
                <img alt="image" class="img-fluid" src="img/grapes.svg" width="30%">
              </div>

              <div class="col-12 col-md-5">
                <h2><strong>Informativo</strong></h2>
                <p class="lead text-muted">Provee algunas definiciones que tiene dentro de las bases de datos y al mencionar el tema de cuarentena o covid da algunos 
                                          datos relacionados con este.</p>
              </div>
            </div>

            <div class="row text-left align-items-center pt-5">
              <div class="col-4 col-md-5">
                <img src="img/cheers.svg" width="30%" alt="">
              </div>

              <div class="col-12 col-md-5 m-md-auto">
                <h2><strong>Lenguaje</strong></h2>
                <p class="lead">Decidimos continuar con el chat en inglés debido a que la mayoría de las bases de datos que pudimos obtener están en ese idioma, además el track al
                               que pertenecemos fue impartido en inglés.
                </p>
              <!--  <p><a href="https://www.froala.com">Learn More <i class="fas fa-angle-right"></i></a></p> -->
              </div>
            </div>
        </div>
</section>

