<!-- Services Section -->
<section id="chatbot" class="bg-light-gray">
     <div class="container">
            <div class="row">
                    <h2 class="section-heading text-center">Características</h2>

  

            <div class="row text-left pt-5">
              <div class="col-6 col-md-4">
               
              </div>
              <div class="col-12 col-sm-6 col-md-8">
          
              </div>
            </div>
          </div>

            <div class="row text-left align-items-center pt-5 pb-md-5">
              <div class="col-4 col-md-5">
                <img alt="image" class="img-fluid" src="img/WineBot.svg" width="40%">
              </div>

              <div class="col-12 col-md-5 m-md-auto">
                <h2><strong>Recomendaciones</strong></h2>
                <p class="lead text-muted">Un sistema experto con el cual podras obtener recomendaciones a partir de tus gustos sobre comida, aromas, sabores, e 
                                           incluso tomando en cuenta para que ocasión requieres conocer un vino. Incluso si no sabes con precisión alguna, o en su 
                                           caso, niguna de las variables, puedes indicar a WineBot, que no conoces tal o tales variables, y el hará su mejor esfuerzo
                                           para encontrar el vino perfecto para ti.</p>
               <!-- <p><a href="https://www.froala.com">Learn More <i class="fas fa-angle-right"></i></a></p> -->
              </div>
            </div>

            <div class="row text-left align-items-center pt-5 pb-md-5">
              <div class="col-4 col-md-5 m-md-auto order-md-5">
                <img alt="image" class="img-fluid" src="img/grapes.svg" width="40%">
              </div>

              <div class="col-12 col-md-5">
                <h2><strong>Pedidos Directos</strong></h2>
                <p class="lead text-muted">Si ya conoces sobre vinos, o has ido aprendiendo a lo largo del tiempo en tu interacción cotidiana con WineBot, puedes indicarle
                                           algun tipo de vino sobre el que quieras que te recomiende directamente, al realizar esto, antes de hacer una recomendación precisa,
                                           WineBot desplegara información sobre las caracteristicas que posee el vino que has pedido, y para uqe ocasiones y con que platillos
                                           puedes disfrutarlo mejor, y hara una pregunta de confirmación para saber si realmente es el tipo de vino que necesitas, en caso de 
                                           de que no se alo que esperabas, WineBot te guira a una busqueda guiada de acuerdo a tus preferencias.</p>
              </div>
            </div>

            <div class="row text-left align-items-center pt-5">
              <div class="col-4 col-md-5">
                <img src="img/cheers.svg" width="40%" alt="">
              </div>

              <div class="col-12 col-md-5 m-md-auto">
                <h2><strong>Lenguaje</strong></h2>
                <p class="lead">Decidimos continuar con el chat en inglés debido a que la mayoría de las bases de datos que pudimos obtener están en ese idioma, además el track al
                               que pertenecemos fue impartido en inglés.
                </p>
              <!--  <p><a href="https://www.froala.com">Learn More <i class="fas fa-angle-right"></i></a></p> -->
              </div>
            </div>
        </div>
</section>

