<!-- About Section -->
    <section id="challenge">
        <div class="container">
            <div class="row">
                    <h2 class="section-heading text-center">Challenge</h2>
            <div class="container">
             <div class="col-12 text-left">
                <h2 class="text-primary">Antecedentes</h2>
                 <div class="row text-justify">
                     <p class="text-muted">El virus COVID-19 ha surgido rápidamente como una pandemia alrededor del mundo que ejerce un estrés no presentado en todos los aspectos de la sociedad. 
                    Es probable que el virus  aumente los trastornos relacionados con el estrés en muchas personas en todo el mundo. Y aunque se han estudiado ampliamente diferentes 
                    tipos de trauma, este nuevo fenómeno, COVID-19 nos obliga a reconocer un tipo posiblemente nuevo de trauma masivo, ya que tiene características muy singulares, 
                    que requieren una perspectiva novedosa sobre “qué es el trauma” y cuáles son sus implicaciones. Por un lado, no solo tiene un alcance mundial, sino que su impacto 
                    se está extendiendo a todos los aspectos de la sociedad <a href="https://psycnet.apa.org/fulltext/2020-25108-001.html" title="Horesh">[Horesh, 2020]</a>. 
                     Además, esta crisis ha recibido niveles sin precedentes de documentación y exposición pública. </p>

                    <p class="text-muted">COVID-19 también conlleva un alto nivel de ansiedad anticipatoria . Dada la línea de tiempo para el curso esperado y la propagación de este virus, la gente parece 
                    temer más por el futuro que por el pasado. La cobertura de los medios y la posibilidad de infectarse provoca un gran estrés y ansiedad <a href="https://doi.org/10.1002/jts.20355" title="Galea">[Galea, 2008]</a>. 
                    Finalmente, aunque no está claro si la mayor parte de la angustia se debe a razones médicas (es decir, saber que no hay cura ni vacuna) o a la soledad 
                    resultante de la cuarentena domiciliaria, entre otras, queremos proporcionar una herramienta que brinde una experiencia amigable y a la vez sirva como método de 
                    consulta para refrescarte en tus actividades diariar y obtener nuevas experiencias en tu tiempo de aislamiento. </p>
              </div>
            </div>
  

            <div class="row text-left pt-5">
         <!--     <div class="col-12 col-sm-6 col-md-5"> -->
              <div class="col-6 col-md-4">
                <!--<img alt="image" class="fdb-icon" src="./imgs/icons/layers.svg"> -->
                <h3><strong>Bases de datos</strong></h3>
                <p class="text-justify">Para que nuestro chatbot pueda dar una amplia gama de información, se utilizaron bases de datos disponibles para el uso del publico
                    en geneneral, las bases de datos en su forma original contenian algunas inconsistencias en ciertos datos, por lo cual fueron depuradas, ademas en el 
                    intento de ofrecer intormación apartir de cierto estandar y gracias a que las bases de datos contenian categorias de calificación de contenido provista 
                    por los usuarios, se establecieron umbrales de calidad, para fortalecer que el contenido sea de respuesta positiva por muchos usuarios.</p>
                  <ul>
                   <li><a href="https://www.kaggle.com/datasnaek/youtube-new" title="YT">Trending YouTube Video Statistics</a></li>
                   <li><a href="https://www.kaggle.com/jealousleopard/goodreadsbooks" title="book">Goodreads-books</a></li>
                   <li><a href="https://research.google.com/youtube8m/" title="voca">Vocabulary DataSet</a></li>
                   <li><a href="https://github.com/Vatshayan/Song-Classification/blob/master/music.csv" title="music">Song-Classification</a></li>
                   <li><a href="https://github.com/marcboquet/spanish-names" title="names">Spanish-Names</a></li>  
                  </ul>
              </div>
              <div class="col-12 col-sm-6 col-md-8">
           <!--   <div class="col-12 col-sm-6 col-md-5 ml-sm-auto pt-5 pt-sm-0"> -->
                <!--<img alt="image" class="fdb-icon" src="./imgs/icons/package.svg">-->
                <h3><strong>Artículos</strong></h3>
                <p class="text-justify text-muted">Una vez que se obtuvo la idea concreta sobre hacia donde dirigir el proyecto, se realizo una corta busqueda de información, 
                    que nos ayudo a refinar nuestras hipotesis, ademas el realizar estas lecturas nos ayudo a plantear metas alcanzables dadas las condiciones
                    de tiempo y de trabajo a distancia. Durante el desarrollo del chatbot se tomaron ideas basadas en las problematicas presentadas en las lecturas 
                    de referencia. Algunas de las referencias que nos ayudaron son:</p>
                  <ul>
                   <li>Horesh, D., & Brown, A. D. (2020). Traumatic stress in the age of COVID-19: A call to close critical gaps and adapt to new realities. 
                       Psychological Trauma: Theory, Research, Practice, and Policy, 12(4), 331-335
                       <a href="http://dx.doi.org/10.1037/tra0000592" title="Ref1">http://dx.doi.org/10.1037/tra0000592</a></li>
                   <li>Galea, S., Tracy, M., Norris, F., & Coffey, S. F. (2008). Financial and social circumstances and the incidence and course of PTSD in 
                       Mississippi during the first two years after Hurricane Katrina. 
                       Journal of Traumatic Stress, 21, 357–368. 
                       <a href="https://doi.org/10.1002/jts.20355" title="Ref2">https://doi.org/10.1002/jts.20355</a></li>
                   <li>Asmundson, G. J. G., Paluszek, M. M., Landry, C. A., Rachor, G. S., McKay, D., & Taylor, S. (2020). Do Pre-existing Anxiety-Related and 
                       Mood Disorders Differentially Impact COVID-19 Stress Responses and Coping? Journal of Anxiety Disorders, 102271.
                       <a href="https://research.google.com/youtube8m/" title="Ref3">Vocabulary DataSet</a></li>
                   <li>Qiu, J., Shen, B., Zhao, M., Wang, Z., Xie, B., & Xu, Y. (2020). A nationwide survey of psychological distress among Chinese people in the 
                       COVID-19 epidemic: implications and policy recommendations. General psychiatry, 33(2), e100213. 
                       <a href="https://doi.org/10.1136/gpsych-2020-100213" title="Ref3">https://doi.org/10.1136/gpsych-2020-100213</a></li>
                   <li>Taylor, S., Landry, C., Paluszek, M., Fergus, T. A., McKay, D., & Asmundson, G. J. (2020). Development and initial validation of the COVID Stress Scales.
                       Journal of Anxiety Disorders, 102232.</li>  
                   <li>Wang C, Pan R, Wan X, Tan Y, Xu L, Ho CS, et al. Immediate psychological responses and associated factors during the initial stage of the 2019 coronavirus 
                       disease (COVID-19) epidemic among the general population in China. Int J Environ Res Public Health 2020; 17:17-29.</li>  
                  </ul>
              </div>
            </div>
          </div>
          <div class="row justify-content-center pb-5">
              <div class="col-12 text-center">
                  <br> <br> 
                <h1 class = "text-primary">Características</h1>
              </div>
            </div>

            <div class="row text-left align-items-center pt-5 pb-md-5">
              <div class="col-4 col-md-5">
                <img alt="image" class="img-fluid" src="img/music.svg" width="80%">
              </div>

              <div class="col-12 col-md-5 m-md-auto">
                <h2><strong>Recomendaciones</strong></h2>
                <p class="lead text-muted">El chatbot al interactuar contigo preguntará por tus gustos en musica o videos y en base a alguna categoría escogida puede 
                                          hacer referencia a una canción o un video en YouTube. También te recomienda libros en base a que tanto deseas leer.</p>
               <!-- <p><a href="https://www.froala.com">Learn More <i class="fas fa-angle-right"></i></a></p> -->
              </div>
            </div>

            <div class="row text-left align-items-center pt-5 pb-md-5">
              <div class="col-4 col-md-5 m-md-auto order-md-5">
                <img alt="image" class="img-fluid" src="img/stats3.svg" width="80%">
              </div>

              <div class="col-12 col-md-5">
                <h2><strong>Informativo</strong></h2>
                <p class="lead text-muted">Provee algunas definiciones que tiene dentro de las bases de datos y al mencionar el tema de cuarentena o covid da algunos 
                                          datos relacionados con este.</p>
              </div>
            </div>

            <div class="row text-left align-items-center pt-5">
              <div class="col-4 col-md-5">
                <img src="img/book1.svg" width="80%" alt="">
              </div>

              <div class="col-12 col-md-5 m-md-auto">
                <h2><strong>Lenguaje</strong></h2>
                <p class="lead">Decidimos continuar con el chat en inglés debido a que la mayoría de las bases de datos que pudimos obtener están en ese idioma, además el track al
                               que pertenecemos fue impartido en inglés.
                </p>
              <!--  <p><a href="https://www.froala.com">Learn More <i class="fas fa-angle-right"></i></a></p> -->
              </div>
            </div>
        </div>
    </section>
