<section id="descrip">
<div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Introducción</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-justify">
                     <p class="text-muted">Esta página presenta nuestro proyecto final dentro del track de Thomas en el Challenge de Clubes de Ciencia México 2020.
                         Como parte del proyecto, desarrollamos un chatbot que le da consejos a la gente sobre cómo sobrellevar la cuarentena, brinda recomendaciones
                         de gran variedad de libros, videos y música. 
                         Este repositorio aloja el código de un ChatBot que da recomendaciones de entretenimiento, está pensado para las personas que están en 
                         cuarentena durante la pandemia por COVID-19. Sin embargo, puede ser útil para cualquier persona que se sienta aburrida, desanimada o 
                         simplemente esté en busca de nueva música, libros y entreteniemiento en general.
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Objetivos</h2>
                </div>
            <div class="row text-left">
              <div class="col-12 col-md-8 m-auto col-lg-4">
                <div class="fdb-box fdb-touch">
                  <h3 class= "text-primary">1. Relajante</h3>
                  <p>Mejorar el estado anímico/ presión de los ciudadanos en cuarentena por la pandemia de COVID19, y los ayude a relajarse.</p>
                  <img src="img/relajante.jpg" class="img-responsive img-circle" alt="">
                </div>
              </div>
              <div class="col-12 col-md-8 m-auto col-lg-4 pt-5 pt-lg-0">
                <div class="fdb-box fdb-touch">
                  <h3 class= "text-primary">2. Entretenido</h3>
                  <p>Brindar un ChatBot que recomiende gran variedad de opciones de entretenimiento, cosultando varias based de datos.</p>
                  <img src="img/entretenido.jpg" class="img-responsive img-circle" alt="">
                </div>
              </div>
              <div class="col-12 col-md-8 m-auto col-lg-4 pt-5 pt-lg-0">
                <div class="fdb-box fdb-touch">
                  <h3 class= "text-primary">3. Útil</h3>
                  <p>Poder obtener información de diversos temas a través de el uso de este chatbot.</p>
                  <img src="img/util.jpg" class="img-responsive img-circle" alt="">
                </div>
              </div>
            </div>
          </div>
 </section>
